.DS_Store

# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# environment
.env
.env.local
.env.*.local

# testing
coverage/
playwright-report/
test-results/
blob-report/
.playwright/

# misc
*.tsbuildinfo
.vercel/
